.toggle-btn {
  background-color: red;
  border: 1px solid #aaa;
  border-radius: 99px;
  width: 80px;
  height: 40px;
  transition: background-color 0.1s ease;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.748);
  position: relative;
}

.toggle-btn .switch {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 99px;
  transform: translateX(0);
  transition: left 0.15s ease;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn.toggle {
  background-color: #15b58e;
}

.toggle-btn:hover {
  border-color: #6f6f6f;
}

.toggle-btn.toggle .switch {
  left: calc(80px - 36px);
}
